<table class="table">
  <thead>
    <tr>
      <th>Bet Summary</th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= link_to bet.summary, bet %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Place New Bet', new_bet_path, {class: 'btn'} %>
